
body {
  background-color: white;
}

.form {
	padding: 50px 0;

	.submitZip {
		display: inline-block;
		width: 60%;
		height: 50px;
		margin-right: 5px;
	}
  
}

.content {

	.panel {
		height: 400px;
    
    
	}

	ul {
		list-style: none;

		img {
			width: 100px;
		}
     
     li {
       text-align: center;
     }
	}
}